extends layout

block content
  #wrapper
    .sketchBlockFont
      p Restful Web Application	

    // ADD BOOK TO LIBRARY - Create


    // LIST BOOKS IN LIBRARY - Read


    // BOOK DETAILS IN LIBRARY - Read


    // UPDATE BOOK IN LIBRARY - Update
